{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mentions.css' %}">
<div class="section">
    <div class="d-flex mt-5 justify-content-center">
        <h2>Mentions légales</h2>
    </div>
    <div class="mentions">
        <p>Les images et illustrations utilisées sur ce site proviennent de différentes sources.</p>
        <br>
        <p><u>Image de fond page d'accueil</u> : <a href="https://unsplash.com/photos/k60JspcBwKE"> Obtenue sur Unsplash, réalisée par Kawin Harasai</a></p>
        <p><u>Images des personnages Colette et Remy</u> : Personnages issus du <a href="https://fr.wikipedia.org/wiki/Ratatouille_(film)">film Disney "Ratatouille"</a>.</p>
        <p>Les icônes dans la barre de navigation sont les suivantes: </p>
        <ul>
            <li>
                <a href="https://fontawesome.com/icons/user">Icône "Espace personnel"</a>
            </li>
            <li>
                <a href="https://thenounproject.com/term/carrot/29691/">Icône "Mes favoris"</a>
            </li>
            <li>
                <a href="https://fontawesome.com/icons/sign-out-alt">Icône "Me déconnecter"</a>
            </li>
        </ul>
        <br>
        <p>Toutes les photos de produits sont téléchargées directement sur <a href="https://fr.openfoodfacts.org/">le site OpenFoodFacts</a>.</p>
        <p>De même que toutes les informations affichées concernant les produits que vous pourrez consulter sur notre site.</p>
        <br>
        <p>Le design est basé sur le template <a href="https://startbootstrap.com/theme/creative">Creative</a>.</p>
        <br>
        <p>Ce site est réalisé dans le cadre de la formation "Développeur d'application Python" dispensée par <a href="https://openclassrooms.com/fr/">OpenClassRooms</a>.</p>
        <br>
        <br>
        <p>Le site est hébergé via <a href="https://www.heroku.com/">Heroku</a>.</p>
    </div>
</div>
{% endblock %}