.section {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 5em;
    justify-content:end;
    align-items: center;
}

.mentions {
    padding-top: 2em;
    text-align: justify;
}

a {
    color: brown;
    font-size: 0.9rem;
}

p {
    font-size: 0.9rem;
}

@media (max-width: 1024px) {
    .mentions {
        text-align: justify;
        padding-left: 3rem;
        padding-right: 3rem;
    } 
    .section {
    padding-top: 3em;
    padding-bottom: 6em;
    }
}