.section {
    padding-top: 4em;
    padding-bottom: 5em;
}

.mentions {
    padding-top: 2em;
    text-align: justify;
    padding-left: 10rem;
    padding-right: 10rem;
}

a {
    color: brown;
    font-size: 0.9rem;
}

p {
    font-size: 0.9rem;
}

@media (max-width: 800px) {
    .mentions {
        text-align:center;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .section {
    padding-top: 3em;
    padding-bottom: 6em;
    }
}