#results {
    display: flex;
    flex-direction: row-reverse;
    /* flex-basis: auto; */
    /* color: black; */
}

.one {
    flex: 1;
    font-style: italic;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
}

/* .suggest_img {
    size: 1;
} */
/* .product {
    display: flex;
    flex-direction: row;
}

.product_img {
    flex: initial;
}

.product_infos {
    flex: initial;
} */