.suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 20%;
    box-shadow: 10px 5px 5px black;
    border-radius: 25% 10%;
    border: solid black;
}