{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block top_menu %}
{% endblock %}
{% block content %}
<div class="page-section">
    <h2 class="text-center">Log in</h2>
    <div class="text-center mb-100">
        <form action="{% url 'authentication:login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-pastel-teal">Connect</button>
        </form>
        <br>
        <a href="">Pas encore de compte ? Inscrivez-vous ici.</a>
    </div>
</div>
{% endblock %}